@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

.navbar_menu {
    font-family: "Cormorant Garamond", serif;
}

.menu {
    position: relative;
}

.indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(90deg, #3b82f6, #8b5cf6);
    border-radius: 999px;
    z-index: 0;

    /* 🔥 smooth spring animation */
    transition: all 0.5s cubic-bezier(.22, 1, .36, 1);
}

.menu ul {
    display: flex;
    position: relative;
    z-index: 1;
}

.menu ul li a {
    display: block;
    padding: 10px 20px;
    color: #7070a0;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 999px;
    text-decoration: none;
}

/* active */
.menu ul li a:hover,
.menu ul li a.active {
    color: #080810;
    transition: all 0.5s cubic-bezier(.22, 1, .36, 1);
}

.let_but_inner p a {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #080810;
    background: linear-gradient(90deg, #3b82f6, #8b5cf6);
    font-weight: 800;
    border: none;

    position: relative;
    overflow: hidden;
    z-index: 1;

    display: inline-block;
    padding: 10px 30px;
    border-radius: 999px;

    transition:
        color 0.3s ease,
        transform 0.2s ease,
        box-shadow 0.3s ease;
}


.let_but_inner p a::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #f6ad55;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;

    z-index: 0;
}


.let_but_inner p a span {
    position: relative;
    z-index: 2;
}

.let_but_inner p a:hover::before,
.let_but_inner p a.active_letstalk::before {
    transform: scaleX(1);
}

.let_but_inner p a:hover,
.let_but_inner p a.active_letstalk {
    color: #14142a;
    /* transform: translateY(-2px); */
    box-shadow: 0 5px 15px rgba(99, 179, 237, 0.4);
}



/* ======= screen 1650 ======== */

@media (max-width: 1650px) {
    .menu ul li a {
        padding: 6px 15px;
        font-size: 14px;
        letter-spacing: 2px;
    }

    .let_but_inner p a {
        font-size: 15px;
        padding: 7px 20px;
    }
}


/* ======= screen 1350 ======== */

@media (max-width: 1350px) {
    .menu ul li a {
        padding: 6px 14px;
        font-size: 13px;
        letter-spacing: 1px;
    }

    .let_but_inner p a {
        font-size: 14px;
        padding: 6px 18px;
    }
}


/* ======= screen 1150 ======== */

@media (max-width: 1150px) {
    .menu ul li a {
        padding: 4px 10px;
        font-size: 12px;
        letter-spacing: 1px;
    }

    .let_but_inner p a {
        font-size: 13px;
        padding: 5px 15px;
        letter-spacing: 1px;
    }
}


@media (max-width: 850px) {
    .menu ul li a {
        padding: 4px 8px;
        font-size: 12px;
        letter-spacing: 1px;
    }

    .let_but_inner p a {
        font-size: 12px;
        padding: 5px 10px;
    }
}
