@import url('https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+PL+Guides&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


.hero_context1 p {
    font-family: "JetBrains Mono", monospace;
}

.hero_context2 p {
    font-family: "Fraunces", serif;
    font-style: initial;
    text-transform: uppercase;
}

.hero_context3 p {
    font-family: "Outfit", sans-serif;
    text-transform: uppercase;
}

.hero_context4 p {
    font-family: "Roboto", sans-serif;
}

.hero_context4 p span {
    font-family: "Fraunces", serif;
    color: #f6ae55d8;
}

.button_resume p {
    padding: 10px 45px;
    font-family: "JetBrains Mono", monospace;
    font-size: 20px;
    border: 1px solid #5982dbe6;
    border-radius: 999px;
    cursor: pointer;
    color: #5982dbe6;

    /* ✨ animation setup */
    background: linear-gradient(to right, #f6ad55 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.5s ease, color 0.3s ease, border-color 0.3s ease;
}

@media (max-width: 1650px) {
    .button_resume p {
        padding: 10px 30px;
        font-size: 14px;
    }
}

@media (max-width: 950px) {
    .button_resume p {
        padding: 7px 20px;
        font-size: 13px;
    }
}

@media (max-width: 720px) {
    .button_resume p {
        padding: 7px 15px;
        font-size: 12px;
    }
}

@media (max-width: 560px) {
    .button_resume p {
        padding: 7px 13px;
        font-size: 10px;
    }
}


.button_resume p:hover {
    background-position: left bottom;
    border-color: #080810;
    color: #080810;
}


@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.cursor {
    display: inline-block;
    margin-left: 4px;
    color: #5982DB;
    /* 👈 solid color (gradient nahi) */
    animation: blink 1s infinite;
}